body {
    margin: 0;
    background-color:rgb(1, 43, 99)
}

header {
    display:block;
    text-align:center;
    padding:150px;
}

header h1 {
    color:#FFF;
    font-size:60px;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}

h3 {
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    padding-bottom:15px;
}

.header__button {
    display:flex;
    justify-content: center;
}

.button__actions {
    width:200px;
    height:40px;
    text-align: center;
    border-radius:12px;
    margin:15px;
    background-color:rgb(1, 43, 99);
    border:1px solid rgb(5, 108, 243);
    color:#FFF;
}

.button__actions:hover {
    background-color: rgb(5, 108, 243);
    cursor:pointer;
}

.main__header {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
}

.main__figure {
    background-color:#FFF;
    width:200px;
    height:200px;
    padding:45px;
}

.main__image1 {
    text-align:center;
    background-color:rgba(255, 0, 0, 0.295);
    border-radius:7px;
    padding:15px;
}

.main__header h4 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:600;
}

.main__border {
    border: 1px solid rgb(160, 9, 9);
    width:30%;
}

.main__header p {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.main__image2 {
    text-align:center;
    background-color:rgb(4, 161, 4);
    border-radius:7px;
    padding:15px;
}

.main__image3 {
    text-align:center;
    background-color:rgb(255, 255, 255);
    border-radius:7px;
    padding:15px;
}

.main__figure1 {
    background-color:#0066ff;
    width:200px;
    height:200px;
    padding:45px;
}